
.menu-item:focused{
     -fx-background-color: rgb(166.0, 158.0, 255.0);
     -fx-text-fill: black;
}
.menu-item:hover{
     -fx-background-color: rgb(166.0, 158.0, 255.0);
     -fx-text-fill: white;
}

.menu:hover {
     -fx-background-color: rgb(104, 97, 97);
}

.menu:showing {
     -fx-background-color: rgb(104, 97, 97);
}


