
#splitPane > .split-pane-divider {
    -fx-background-color:  rgb(216.0, 212.0, 212.0);
    -fx-pref-width: 1.0px;
}

#tableTracks .column-header {
    -fx-background-color: white;
    -fx-font-family: "Avenir", sans-serif;
    -fx-border-color: rgb(206.0, 204.0, 204.0);
    -fx-border-width: 0.0 1.0 1.0 0.0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(166.0, 158.0, 255.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

#libraryHBox:selected {
    -fx-background-color: rgb(166.0, 158.0, 255.0);
}

#nameLib:selected {
	-fx-text-fill: white;
}

#playlistsListView .list-cell:filled:focused:selected {
    -fx-background-color: rgb(166.0, 158.0, 255.0);
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

#playlistsListView .scroll-bar:horizontal .track,
#playlistsListView .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius:2.0em;
}

/* The increment and decrement button CSS class of scrollbar */
#playlistsListView .scroll-bar:horizontal .increment-button ,
#playlistsListView .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 0.0 10.0 0.0;

}

/* The increment and decrement button CSS class of scrollbar */

#playlistsListView .scroll-bar:vertical .increment-button ,
#playlistsListView .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 10.0 0.0 0.0;

}

#playlistsListView  .scroll-bar .increment-arrow,
#playlistsListView  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0.0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
#playlistsListView .scroll-bar:horizontal .thumb,
#playlistsListView .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;

}



