
#trackSlider .track {
    -fx-background-color: null;
	-fx-background-insets: 0 0 0 0;
}

#trackSlider .thumb {
	-fx-background-color: null;
	-fx-background-image: url('../icons/ic_sliderthumb.png');
 	-fx-background-repeat:no-repeat ;
}

#trackProgressBar .bar {
	-fx-background-color: rgb(166, 158, 255);
	-fx-background-insets: 0 0 1 0;
	-fx-background-radius: null;
}

#trackProgressBar .track {
	-fx-control-inner-background: null;
	-fx-background-radius: null;
}

/*#volumeSlider .track {
    -fx-background-color: null;
}

#volumeProgressBar .bar {
	-fx-background-color: rgb(166, 158, 255);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 0;
}

#volumeProgressBar .track {
	-fx-control-inner-background: rgb(206, 204, 204);
	-fx-background-insets: 1 1 2 1;
	-fx-background-radius: 0;
}*/